<form action="/vehicles/<%= @vehicle.id %>" method=POST>
  <input id="hidden" type="hidden" name="_method" value="patch">
  Edit vehicle:<br>
  <br>
  Manufacturer: <input type="text" name="vehicle[brand]" value="<%= @vehicle.brand %>"><br>
  <br>
  Model: <input type="text" name="vehicle[model]" value="<%= @vehicle.model %>"><br>
  <br>
  Year: <input type="text" name="vehicle[year]" value="<%= @vehicle.year %>"><br>
  <br>
  Mileage: <input type="text" name="vehicle[mileage]" value="<%= @vehicle.mileage %>"><br>
  <br>
  Color: <input type="text" name="vehicle[color]" value="<%= @vehicle.color %>"><br>
  <br>
  Type: <br>
  <input type="radio" name="vehicle[style]" value="SUV" <%='checked' if @vehicle.style == "SUV" %>> SUV<br>
  <input type="radio" name="vehicle[style]" value="Sedan" <%='checked' if @vehicle.style == "Sedan" %>> Sedan<br>
  <input type="radio" name="vehicle[style]" value="Coupe" <%='checked' if @vehicle.style == "Coupe" %>> Coupe<br>
  <input type="radio" name="vehicle[style]" value="Truck" <%='checked' if @vehicle.style == "Truck" %>> Truck<br>
  <input type="radio" name="vehicle[style]" value="Convertible" <%='checked' if @vehicle.style == "Convertible" %>> Convertible<br>
  <br>
  <input type="submit" value="Update Vehicle">
</form>
